@import "tailwindcss";

@plugin "./hero.ts";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

.bg-background-auth {
    background: #016FEE;
    background: radial-gradient(circle,rgba(1, 111, 238, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
